@font-face {
  font-family: "Anaktoria";
  src: url("Anaktoria.eot?") format("eot"), url("Anaktoria.woff") format("woff"),
    url("Anaktoria.ttf") format("truetype"),
    url("Anaktoria.svg#Anaktoria") format("svg");
  font-weight: normal;
  font-style: normal;
}
